body {
    font: 20px;
    font-family: 'Roboto', sans-serif;
}

.navbar {
    background-color: rgb(104, 207, 255);;
}

.quem-somos {
    background-color: rgb(10, 178, 255);
    color: black;
}

.parceiros {
    background-color: rgb(10, 157, 255);
    color: black;
}

.servicos {
    background-color: rgb(10, 137, 255);
    color: black;
}

.margin {
    padding-top: 20px;
    padding-bottom: 50px;
}

.margin-text {
    margin-top: 30px;
}

.bg-footer {
    background-color: black;
    color: white;
}